---
import Card from '@/components/Card'
import TitlePage from '@/components/TitlePage'
import BaseLayout from '@/layouts/BaseLayout'
import { getPosts } from '@/utils'
---

<BaseLayout title='Home'>
	<TitlePage title='Home page' />

	<div
		class='text-white m-auto grid gap-2 max-w-6xl overflow-hidden relative w-full sm:p-4 sm:gap-2 md:grid-cols-2 md:gap-3 md:p-6 lg:grid-cols-4 lg:gap-4 lg:max-h-[800px]'
	>
		<Card class='col-span-1 md:col-span-3 md:row-span-2'>
			<p class='m-0 font-light text-xl'>
				Hi, I'm <b class='font-bold'>Mike Hoang</b>, a software developer with a passion for
				creating innovative web applications. I always strive to make the complex seem effortless.
			</p>
		</Card>
		<Card class='col-span-1 md:col-span-1 md:row-span-3'>test</Card>
		<Card class='col-span-1 md:col-span-1 md:row-span-2'>test</Card>
		<Card class='col-span-1 md:col-span-2 md:row-span-1'>test</Card>
		<Card class='col-span-1 md:col-span-1 md:row-span-1'>test</Card>
		<Card class='col-span-1 md:col-span-1 md:row-span-1'>test</Card>
		<Card class='col-span-1 md:col-span-1 md:row-span-1'>test</Card>
	</div>
</BaseLayout>

<script>
	import { animate } from 'motion'
	const showAnimations = localStorage.getItem('animations') === 'true'

	if (showAnimations) {
		animate(
			'.title',
			{ y: [80, 0], opacity: [0, 1] },
			{
				duration: 2.5,
				opacity: { duration: 3 },

				offset: [0, 0.55, 0.75]
			}
		)
	}
</script>
