---
import Card from '@/components/Card'
import Button from '@/components/Button'
import TitlePage from '@/components/TitlePage'
import BaseLayout from '@/layouts/BaseLayout'
import { getPosts } from '@/utils'
import { Image } from 'astro:assets'
import HeaderLink from '@/components/HeaderLink'
import TagIcon from '@/components/icons/TagIcon'
import Intro from '@/components/Intro'
import AboutMe from '@/components/AboutMe'
import MyLinks from '@/components/MyLinks'
---

<BaseLayout title='Home'>
	<div
		class='text-black dark:text-white m-auto grid gap-2 max-w-6xl overflow-hidden relative w-full p-4 sm:gap-2 md:grid-cols-2 md:gap-3 lg:grid-cols-4 lg:gap-4 lg:max-h-[800px]'
	>
		<Card
			class='col-span-1 md:col-span-3 md:row-span-2 flex flex-col md:space-y-0 md:flex-row hover:border-purple-600'
		>
			<Intro />
		</Card>
		<Card
			class='col-span-1 md:col-span-1 md:row-span-3 hover:border-green-600 dark:hover:border-green-600'
		>
			<AboutMe />
		</Card>
		<Card
			class='col-span-1 md:col-span-1 md:row-span-2 hover:border-blue-600 dark:hover:border-blue-600'
		>
			<MyLinks />
		</Card>
		<Card
			class='col-span-1 md:col-span-2 md:row-span-1 hover:border-orange-600 dark:hover:border-orange-600'
		>
			<h2 class='text-xl font-bold m-0'>Tech stacks</h2>
		</Card>
		<Card
			class='col-span-1 md:col-span-1 md:row-span-1 hover:border-yellow-600 dark:hover:border-yellow-600'
		>
			<div class='flex flex-col space-y-2'>
				<h2 class='text-xl font-bold m-0'>Favourite quote</h2>
				<blockquote class='relative border-s-2 ps-2 dark:border-gray-700'>
					<p class='text-gray-800 text-sm dark:text-white'>
						<em>
							<q
								>If You Fall Asleep Now, You Will Dream. If You Study Now, You Will Live Your Dream</q
							>
						</em>
					</p>
				</blockquote>
			</div>
		</Card>
		<Card
			class='col-span-1 md:col-span-1 md:row-span-1 hover:border-pink-600 dark:hover:border-pink-600'
		>
			<div class='flex flex-col space-y-2'>
				<h2 class='text-xl font-bold m-0'>Learning</h2>
				<div class='flex items-center mb-4'>
					<input
						id='devops-checkbox'
						type='checkbox'
						value=''
						class='w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600'
					/>
					<label for='devops-checkbox' class='ms-2 text-sm'>DevOps</label>
				</div>
				<div class='flex items-center mb-4'>
					<input
						id='data-checkbox'
						type='checkbox'
						value=''
						class='w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600'
					/>
					<label for='data-checkbox' class='ms-2 text-sm'>Data Streaming</label>
				</div>

				<div class='flex items-center mb-4'>
					<input
						id='rust-checkbox'
						type='checkbox'
						value=''
						class='w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600'
					/>
					<label for='rust-checkbox' class='ms-2 text-sm'>Rust</label>
				</div>
			</div>
		</Card>
		<Card
			class='col-span-1 md:col-span-1 md:row-span-1 hover:border-slate-600 dark:hover:border-slate-600'
		>
			<h2 class='text-xl font-bold m-0'>Reading</h2>
		</Card>
	</div>
</BaseLayout>

<script>
	import { animate } from 'motion'
	const showAnimations = localStorage.getItem('animations') === 'true'

	if (showAnimations) {
		animate(
			'.title',
			{ y: [80, 0], opacity: [0, 1] },
			{
				duration: 2.5,
				opacity: { duration: 3 },

				offset: [0, 0.55, 0.75]
			}
		)
	}
</script>
