<div class='flex flex-col space-y-2'>
	<h2 class='text-xl font-bold m-0'>About me</h2>
	<p class='text-md'>
		Hi, I'm Mike Hoang, currently living in Vancouver, Canada. I like to build
		things with TypeScript, React, Next.js and more ...
	</p>
	<p class='text-md'>
		I have a huge interest in learning new technologies not only in the web dev
		world but anything else too.
	</p>
	<p class='text-md'>
		Talk to me about: <u><i>technologies</i></u>, <u><i>music</i></u>, and <u
			><i>cats</i></u
		>.
	</p>
</div>
