<div class='flex flex-col space-y-2'>
	<h2 class='text-xl font-bold m-0'>About me</h2>
	<p class='text-md font-light'>
		Hi, I'm Mike Hoang, currently living in Vancouver, Canada. I like to build things with
		TypeScript, React, Next.js and more ...
	</p>

	<p class='text-md font-light'>
		Although I have my favorite tools, I often go for the most suitable one for the tasks. My aims
		is to continuously discover optimal solutions to problems and get the jobs done.
	</p>

	<p class='text-md font-light'>
		Talk to me about: <u><i>technologies</i></u>, <u><i>music</i></u>, and <u><i>cats</i></u>.
	</p>
</div>
