<div class='flex flex-col space-y-2'>
	<h2 class='text-xl font-bold m-0'>About me</h2>
	<p class='text-md'>
		Hi, I'm Mike Hoang, currently working in Vancouver, Canada.
	</p>
	<p class='text-md'>
		I like to build things with TypeScript, React, and anything in the JS
		ecosystem.
	</p>
	<p class='text-md'>
		Talk to me about: <u><i>technologies</i></u>, <u><i>music</i></u>, and <u
			><i>cats</i></u
		>.
	</p>
</div>
