<div class='flex flex-col space-y-2'>
	<h2 class='text-xl font-bold m-0'>About me</h2>
	<p class='text-sm font-light'>
		Hi, I'm Mike Hoang, currently living in Vancouver, Canada. I like to build things with
		TypeScript, React, Next.js and more ...
	</p>

	<p class='text-sm font-light'>
		Although I have my favorite tools, I often go for the most suitable one for the task, even if
		it's not something I'm familiar with. My aims is to continuously discover optimal solutions to
		problems and get the jobs done.
	</p>
</div>
