<div class='flex flex-col space-y-2'>
	<h2 class='text-xl font-bold m-0'>Building</h2>
	<ul class='flex flex-col space-y-2'>
		<li>
			<a
				class='text-sm md:text-base hover:text-blue-500'
				href='https://github.com/mikah13/create-next-marketplace'
				target='_blank'
			>
				create-next-marketplace &middot; An online marketplace</a
			>
		</li>
		<li>
			<a
				class='text-sm md:text-base hover:text-blue-500'
				href='https://github.com/pilcrowOnPaper/arctic'
				target='_blank'
			>
				artic &middot; An OAuth 2.0 clients
			</a>
		</li>
	</ul>
</div>
