<div class='flex flex-col space-y-2'>
	<h2 class='text-xl font-bold m-0'>Building</h2>
	<ul class='flex flex-col space-y-2'>
		<li>
			<a
				class='text-sm md:text-base hover:text-blue-500'
				href='https://github.com/mikah13/chartcn'
				target='_blank'
			>
				chartcn &middot; Visualization components</a
			>
		</li>
		<li>
			<a class='text-sm md:text-base hover:text-blue-500' href='#'>
				schemagen &middot; JSON Schema generator
			</a>
		</li>
	</ul>
</div>
