---
import { cn } from '@/utils'
const { class: className } = Astro.props
---

<div
	class={cn(
		'card group overflow-hidden opacity-0 bg-zinc-50 dark:bg-zinc-950 shadow-lg dark:shadow-dark dark:shadow-zinc-500/10 rounded-lg p-4 py-5 border-[1.5px] border-zinc-100 dark:border-zinc-900 hover:border-zinc-500 dark:hover:border-purple-800 align-start flex-none h-full justify-start relative transform perspective-1200 w-full transition duration-75 ease-in-out',
		className
	)}
	style='transform: translateY(var(--motion-translateY)); --motion-translateY: 0%; opacity: 1;'
>
	<slot />
</div>
