---
const { class: className } = Astro.props
---

<div
	class:list={[
		'card group overflow-hidden opacity-0 bg-darkslate-500 shadow-lg rounded-lg p-6 border border-darkslate-100 hover:border-primary-500 align-start flex-none h-full justify-start relative transform perspective-1200 w-full transition duration-75 ease-in-out',
		className
	]}
	style='transform: translateY(var(--motion-translateY)); --motion-translateY: 0%; opacity: 1;'
>
	<slot />
</div>
