<div class='flex flex-col space-y-2'>
	<h2 class='text-xl font-bold m-0'>Learning</h2>
	<div class='flex justify-between space-x-2 items-center mb-4'>
		<span class='text-sm'>Go</span>
		<div
			class='xl:w-40 lg:w-32 md:w-28 w-44 bg-gray-200 rounded-full h-2 dark:bg-gray-700'
		>
			<div class='bg-blue-600 h-2 rounded-full' style='width: 80%'></div>
		</div>
	</div>
	<div class='flex justify-between items-center mb-4'>
		<span class='text-sm'>Rust</span>
		<div
			class='xl:w-40 lg:w-32 md:w-28 w-44 bg-gray-200 rounded-full h-2 dark:bg-gray-700'
		>
			<div class='bg-blue-600 h-2 rounded-full' style='width: 35%'></div>
		</div>
	</div>

	<div class='flex justify-between items-center mb-4'>
		<span class='text-sm'>Trading</span>
		<div
			class='xl:w-40 lg:w-32 md:w-28 w-44 bg-gray-200 rounded-full h-2 dark:bg-gray-700'
		>
			<div class='bg-blue-600 h-2 rounded-full' style='width: 25%'></div>
		</div>
	</div>
</div>
