---
import HeaderLink from './HeaderLink.astro'
import Email from './icons/Email.astro'
import GithubIcon from './icons/GithubIcon.astro'
import Linkedin from './icons/Linkedin.astro'
import TagIcon from './icons/TagIcon.astro'
import TextDoc from './icons/TextDoc.astro'
---

<div>
	<h2 class='text-xl font-bold m-0'>Links</h2>

	<ul>
		<li>
			<HeaderLink
				href='https://silver-arluene-38.tiiny.site/'
				class='flex items-center gap-1 text-2xl md:text-base'
			>
				<TextDoc /> Resume
			</HeaderLink>
		</li>
		<li>
			<HeaderLink href='/tags' class='flex items-center gap-1 text-2xl md:text-base'>
				<GithubIcon /> GitHub
			</HeaderLink>
		</li>
		<li>
			<HeaderLink href='/tags' class='flex items-center gap-1 text-2xl md:text-base'>
				<Linkedin /> LinkedIn
			</HeaderLink>
		</li>
		<li>
			<HeaderLink href='/tags' class='flex items-center gap-1 text-2xl md:text-base'>
				<Email /> Email
			</HeaderLink>
		</li>
	</ul>
</div>
