---
import HeaderLink from './HeaderLink.astro'
import Calender from './icons/Calender.astro'
import Email from './icons/Email.astro'
import GithubIcon from './icons/GithubIcon.astro'
import Linkedin from './icons/Linkedin.astro'
import RSSIcon from './icons/RSSIcon.astro'
import TagIcon from './icons/TagIcon.astro'
import TextDoc from './icons/TextDoc.astro'
import TwitterIcon from './icons/TwitterIcon.astro'
---

<div class='flex flex-col space-y-2'>
	<h2 class='text-xl font-bold m-0'>Links</h2>

	<ul class='flex flex-col space-y-2'>
		<li>
			<HeaderLink
				href='https://silver-arluene-38.tiiny.site/'
				class='flex items-center gap-1 text-md md:text-base hover:text-blue-500'
			>
				<TextDoc /> Resume
			</HeaderLink>
		</li>
		<li>
			<HeaderLink
				href='https://github.com/mikah13'
				class='flex items-center gap-1 text-md md:text-base hover:text-blue-500'
			>
				<GithubIcon /> GitHub
			</HeaderLink>
		</li>
		<li>
			<HeaderLink
				href='https://www.linkedin.com/in/mike-hoang-2907/'
				class='flex items-center gap-1 text-md md:text-base hover:text-blue-500'
			>
				<Linkedin /> LinkedIn
			</HeaderLink>
		</li>
		<li>
			<HeaderLink
				href='https://twitter.com/FollowMikah13'
				class='flex items-center gap-1 text-md md:text-base hover:text-blue-500'
			>
				<TwitterIcon /> Twitter
			</HeaderLink>
		</li>
		<li>
			<HeaderLink
				href='mailto:anhminhhoang13@gmail.com'
				class='flex items-center gap-1 text-md md:text-base hover:text-blue-500'
			>
				<Email /> Email
			</HeaderLink>
		</li>
		<li>
			<HeaderLink
				href='https://cal.com/mike-hoang-rpydlk/30min'
				class='flex items-center gap-1 text-md md:text-base hover:text-blue-500'
			>
				<Calender /> Cal.com
			</HeaderLink>
		</li>
		<li>
			<HeaderLink
				href='https://mikehoang.dev/rss.xml'
				class='flex items-center gap-1 text-md md:text-base hover:text-blue-500'
			>
				<RSSIcon /> RSS
			</HeaderLink>
		</li>
	</ul>
</div>
