---
import GitHubStat from './GitHubStat.astro'
import ChevronRight from './icons/ChevronRight.astro'
---

<style>
	@tailwind base;
	@tailwind components;
	@tailwind utilities;

	@layer utilities {
		@variants responsive {
			.no-scrollbar::-webkit-scrollbar {
				display: none;
			}
			/* Hide scrollbar for IE, Edge and Firefox */
			.no-scrollbar {
				-ms-overflow-style: none; /* IE and Edge */
				scrollbar-width: none; /* Firefox */
			}
		}
	}
</style>

<div class='flex flex-col space-y-2'>
	<h2 class='text-xl font-bold m-0'>Stats</h2>
	<GitHubStat client:load />
	<div
		class='flex flex-col max-h-16 space-x-2 overflow-scroll no-scrollbar relative group'
	>
		<!-- <span
			class='right-0 top-[50%] bottom-[50%] text-zinc-700 fixed hidden group-hover:block'
		>
			<ChevronRight /></span
		> -->
	</div>
</div>
