<div class='flex flex-col h-full space-y-6'>
	<h2 class='text-xl font-bold m-0'>Projects</h2>
	<div class='flex flex-col space-y-2'>
		<div class='flex justify-start items-center space-x-3 hover:text-blue-500'>
			<span class='flex h-2 w-2 rounded-full bg-sky-500 items-center'></span>
			<a href='https://github.com/pilcrowOnPaper/arctic'
				>arctic &middot; OAuth 2.0 clients</a
			>
		</div>
		<div class='flex justify-start items-center space-x-3 hover:text-blue-500'>
			<span class='flex h-2 w-2 rounded-full bg-sky-500 items-center'></span>
			<a href='https://github.com/mikah13/astro-profile'
				>astro-profile &middot; Portfolio</a
			>
		</div>
		<div class='flex justify-start items-center space-x-3 hover:text-blue-500'>
			<span class='flex h-2 w-2 rounded-full bg-sky-500 items-center'></span>
			<a href='https://g`ithub.com/mikah13/UptoTech'
				>UptoTech &middot; Web scrapper</a
			>
		</div>

		<div
			class='flex justify-start items-center space-x-3 hover:text-blue-500'
			'
		>
			<span class='flex h-2 w-2 rounded-full bg-sky-500 items-center'></span>
			<a href='https://github.com/mikah13/dotfiles'
				>dotfiles &middot; My configs</a
			>
		</div>

		<div
			class='flex justify-start items-center space-x-3 hover:text-blue-500'
			'
		>
			<span class='flex h-2 w-2 rounded-full bg-sky-500 items-center'></span>
			<a href='https://github.com/mikah13/file-converter-web'
				>iConvert &middot; File converter</a
			>
		</div>

		<!-- <div
			class='flex justify-start items-center space-x-3 hover:text-blue-500'
			'
		>
			<span class='flex h-2 w-2 rounded-full bg-sky-500 items-center'></span>
			<a href='https://github.com/mikah13/express-ts-init'
				>express-ts-init &middot; template</a
			>
		</div> -->
	</div>
</div>
