<div class='flex flex-col space-y-2'>
	<h2 class='text-xl font-bold m-0'>Projects</h2>
	<div class='flex justify-start items-center space-x-2 mb-4'>
		<span class='flex h-2 w-2 rounded-full bg-sky-500 items-center'></span>
		<a href='https://github.com/pilcrowOnPaper/arctic'
			>artic &middot; OAuth 2.0 clients</a
		>
	</div>

	<div class='flex justify-start items-center space-x-2 mb-4'>
		<span class='flex h-2 w-2 rounded-full bg-sky-500 items-center'></span>
		<a href='https://github.com/mikah13/UptoTech'
			>UptoTech &middot; Tech blog scrapper</a
		>
	</div>

	<div class='flex justify-start items-center space-x-2 mb-4'>
		<span class='flex h-2 w-2 rounded-full bg-sky-500 items-center'></span>
		<a href='https://github.com/mikah13/express-ts-init'
			>express-ts-init &middot; Express + TS boilerplate</a
		>
	</div>

	<div class='flex justify-start items-center space-x-2 mb-4'>
		<span class='flex h-2 w-2 rounded-full bg-sky-500 items-center'></span>
		<a href='https://github.com/mikah13/file-converter-web'
			>iConvert &middot; Image type converter</a
		>
	</div>
</div>
