<div class='flex flex-col space-y-2'>
	<h2 class='text-xl font-bold m-0'>Favourite quote</h2>
	<blockquote class='relative border-s-2 ps-2 dark:border-gray-700'>
		<p class='text-gray-800 text-sm dark:text-white'>
			<em>
				<q>If You Fall Asleep Now, You Will Dream. If You Study Now, You Will Live Your Dream</q>
			</em>
		</p>
	</blockquote>
</div>
