<div class='flex flex-col space-y-2'>
	<h2 class='text-xl font-bold m-0'>Reading</h2>
	<ul class='flex flex-col space-y-2'>
		<li>
			<a
				class='text-sm md:text-base hover:text-blue-500'
				href='https://www.amazon.ca/Designing-Data-Intensive-Applications-Reliable-Maintainable/dp/1449373321'
				target='_blank'
			>
				Designing Data-Intensive Applications
			</a>
		</li>
		<li>
			<a
				class='text-sm md:text-base hover:text-blue-500'
				href='https://www.amazon.ca/Best-Loser-Wins-Thinking-high-stake/dp/085719822X'
				target='_blank'
			>
				Best Loser Wins
			</a>
		</li>
	</ul>
</div>
